

<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <a class="navbar-brand" routerLink="/home">GroceryApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact">Contact</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" routerLink="/register">Register</a>
          </li>
          <li class="nav-item " >
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
       
      </ul>
     
    </div>
  </nav>
<div class="jumbotron text-center">
    <h1 class="dispaly-4">Contact us</h1>
    <p class="lead">This is  Contact page</p>
</div>

<div class="container">
    <section>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo nobis, assumenda fugit sint dolor optio minima maiores eos velit facere numquam, quidem error corporis, ex aliquam! At non distinctio repellendus modi laborum minima, nulla natus omnis blanditiis itaque sequi eaque, illum incidunt nobis animi praesentium numquam ullam harum recusandae quaerat dolores molestias tempora. Quibusdam explicabo voluptas, dignissimos veritatis eum dolorem. Nesciunt molestias ducimus adipisci, dignissimos accusantium quam nobis iusto asperiores exercitationem temporibus ipsa quos! Voluptatum ipsum, ad hic quae assumenda, qui quidem exercitationem tempora sapiente, dolore voluptate magnam error dolorum eaque vitae cupiditate sint tempore esse quo modi autem non?</p>
    </section>
</div>