<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <a class="navbar-brand" routerLink="/home">GroceryApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    
  </nav>

<div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="wrapper ">
                <h2 class="text-center">Register</h2>
                <hr>
                <form #registerForm="ngForm" (submit)="onFormSubmit()">
                    
                    <div class="form-group">
                        <label for="firstName">firstName</label>
                        <input type="text" #firstName="ngModel" name="firstName" id="firstName" class="form-control"
                            [(ngModel)]="user.firstName" required [class.is-invalid]="firstName.invalid && firstName.touched">
                        <small class="text-danger" [class.d-none]="firstName.untouched || firstName.valid">This is required field</small>
                    </div>

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" #email="ngModel" name="email" id="email" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                            [(ngModel)]="user.email" required [class.is-invalid]="email.invalid && email.touched">
                            <div *ngIf="email.errors && email.touched">
                                <small class="text-danger" *ngIf="email.errors['required']">This is required field</small>
                                <small class="text-danger" *ngIf="email.errors['pattern']">Email is  not valid</small>

                            </div>
                    </div>
                    <div class="form-group">
                        <label for="mobile">Mobile</label>
                        <input type="text" #mobile="ngModel" name="mobile" id="mobile" class="form-control" pattern="^\d{10}"
                            [(ngModel)]="user.mobile" required [class.is-invalid]="mobile.invalid && mobile.touched">

                            <div *ngIf="mobile.errors && mobile.touched">
                                <small class="text-danger" *ngIf="mobile.errors['required']">This is required field</small>
                                <small class="text-danger" *ngIf="mobile.errors['pattern']">Mobile number must be of 10 dights</small>

                            </div>

                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" #password="ngModel" name="password" id="password" class="form-control" minlength="6"
                            [(ngModel)]="user.password" required [class.is-invalid]="password.invalid && password.touched">
                            <div *ngIf="password.errors && password.touched">
                                <small class="text-danger" *ngIf="password.errors['required']">This  is required field</small>
                                <small class="text-danger" *ngIf="password.errors['minlength']"> Password must be minumum 6 characters</small>

                            </div>
                    </div>
                    <br>
                    <div class="text-center">
                    <input type="submit" value="Register" class="btn btn-primary text-center" [disabled]="registerForm.invalid">
                     </div>
                    <br>
                    <p class="text-center">
                        <a href="/login">Already register? click Here</a>
                    </p>
                </form>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>